<%= simple_form_for([@swimmer, @swimmer.reviews.build]) do |f| %>
	<div id="rating-form">
		<label>Рейтинг</label>
	</div>
	<%= f.input :comment , label: "Оставить отзыв" %>
	<%= f.button :submit, "Создать" , :class => 'btn-custom2' %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>